.body{
    /*background: linear-gradient(green,purple,75deg);*/
    text-align: center;
    /*width:1200px;*/
    max-width: 100%;
}

.ch15{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 100px;
    /*background:linear-gradient(purple,green,75deg);*/
}

.table1{
    border-style:dotted;
}

.td{
    text-align: center;
    border-style:dotted;
    width:50px;
    height:50px;
    font-size: 40px;
}

.reset{
    margin-left: 700px;
    margin-top: 1px;
   
}

.score{
    margin-left: 740px;
    top: 50%;
}

.rules{
    font-size: 20px;
    text-align: center,justify;
    margin: 0 auto;
}
